
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <div mat-vard-image></div>
    <mat-card-content>
      
  
    <mat-form-field appearance="outline">
      <mat-label>Full name</mat-label>
      <input type="text" formControlName="fullName" matInput required minlength="3" maxlength="100"/>
      <mat-icon matSuffix>email</mat-icon>
      <mat-hint>Type your full name</mat-hint>
      <mat-error *ngIf="form.get('fullName').errors">
      {{form.get('fullName').errors | json}}
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" required minlength="3" matInput/>
      <mat-icon matSuffix>email</mat-icon>
      <mat-hint>Type your email</mat-hint>
      <mat-error *ngIf="form.get('email').errors">
          {{form.get('email').errors | json }}
          </mat-error>
    </mat-form-field>

  
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" required minlength="5" matInput/>
      <mat-icon matSuffix>code</mat-icon>
      <mat-hint>Type your paswword</mat-hint>
      <mat-error *ngIf="form.get('password').errors">
          {{form.get('password').errors | json }}
          </mat-error>
    </mat-form-field>
    
</mat-card-content>
  <mat-card-actions>
      <button [disabled]="isLoading" mat-button color="primary" type="submit">
        <mat-icon>lock_open</mat-icon> Register
      </button>
  </mat-card-actions>
</mat-card>
</form>

<h2 *ngIf="isLoading">
  Estamos enviado la data para tu registro
</h2>

